In [2]:
import pandas as pd
import numpy as np


df=pd.read_csv("weatherAUS.csv")
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [3]:
df.info

<bound method DataFrame.info of               Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0       2008-12-01   Albury     13.4     22.9       0.6          NaN
1       2008-12-02   Albury      7.4     25.1       0.0          NaN
2       2008-12-03   Albury     12.9     25.7       0.0          NaN
3       2008-12-04   Albury      9.2     28.0       0.0          NaN
4       2008-12-05   Albury     17.5     32.3       1.0          NaN
...            ...      ...      ...      ...       ...          ...
142188  2017-06-20    Uluru      3.5     21.8       0.0          NaN
142189  2017-06-21    Uluru      2.8     23.4       0.0          NaN
142190  2017-06-22    Uluru      3.6     25.3       0.0          NaN
142191  2017-06-23    Uluru      5.4     26.9       0.0          NaN
142192  2017-06-24    Uluru      7.8     27.0       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity3pm  \
0            NaN           W           44.0          W  ...        22.0
1            NaN         WNW           44.0        NNW  ...        25.0
2            NaN         WSW           46.0          W  ...        30.0
3            NaN          NE           24.0         SE  ...        16.0
4            NaN           W           41.0        ENE  ...        33.0
...          ...         ...            ...        ...  ...         ...
142188       NaN           E           31.0        ESE  ...        27.0
142189       NaN           E           31.0         SE  ...        24.0
142190       NaN         NNW           22.0         SE  ...        21.0
142191       NaN           N           37.0         SE  ...        24.0
142192       NaN          SE           28.0        SSE  ...        24.0

        Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
0            1007.7       1007.1       8.0       NaN     16.9     21.8
1            1010.6       1007.8       NaN       NaN     17.2     24.3
2            1007.6       1008.7       NaN       2.0     21.0     23.2
3            1017.6       1012.8       NaN       NaN     18.1     26.5
4            1010.8       1006.0       7.0       8.0     17.8     29.7
...             ...          ...       ...       ...      ...      ...
142188       1024.7       1021.2       NaN       NaN      9.4     20.9
142189       1024.6       1020.3       NaN       NaN     10.1     22.4
142190       1023.5       1019.1       NaN       NaN     10.9     24.5
142191       1021.0       1016.8       NaN       NaN     12.5     26.1
142192       1019.4       1016.5       3.0       2.0     15.1     26.0

        RainToday  RISK_MM  RainTomorrow
0              No      0.0            No
1              No      0.0            No
2              No      0.0            No
3              No      1.0            No
4              No      0.2            No
...           ...      ...           ...
142188         No      0.0            No
142189         No      0.0            No
142190         No      0.0            No
142191         No      0.0            No
142192         No      0.0            No

[142193 rows x 24 columns]>

In [ ]:
df.info()

In [4]:
X=df.iloc[:,:-1].values
Y=df.iloc[:,-1].values

In [6]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit([[1, 2], [np.nan, 3], [7, 6]])

In [7]:
df.head

<bound method NDFrame.head of               Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0       2008-12-01   Albury     13.4     22.9       0.6          NaN
1       2008-12-02   Albury      7.4     25.1       0.0          NaN
2       2008-12-03   Albury     12.9     25.7       0.0          NaN
3       2008-12-04   Albury      9.2     28.0       0.0          NaN
4       2008-12-05   Albury     17.5     32.3       1.0          NaN
...            ...      ...      ...      ...       ...          ...
142188  2017-06-20    Uluru      3.5     21.8       0.0          NaN
142189  2017-06-21    Uluru      2.8     23.4       0.0          NaN
142190  2017-06-22    Uluru      3.6     25.3       0.0          NaN
142191  2017-06-23    Uluru      5.4     26.9       0.0          NaN
142192  2017-06-24    Uluru      7.8     27.0       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity3pm  \
0            NaN           W           44.0          W  ...        22.0
1            NaN         WNW           44.0        NNW  ...        25.0
2            NaN         WSW           46.0          W  ...        30.0
3            NaN          NE           24.0         SE  ...        16.0
4            NaN           W           41.0        ENE  ...        33.0
...          ...         ...            ...        ...  ...         ...
142188       NaN           E           31.0        ESE  ...        27.0
142189       NaN           E           31.0         SE  ...        24.0
142190       NaN         NNW           22.0         SE  ...        21.0
142191       NaN           N           37.0         SE  ...        24.0
142192       NaN          SE           28.0        SSE  ...        24.0

        Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
0            1007.7       1007.1       8.0       NaN     16.9     21.8
1            1010.6       1007.8       NaN       NaN     17.2     24.3
2            1007.6       1008.7       NaN       2.0     21.0     23.2
3            1017.6       1012.8       NaN       NaN     18.1     26.5
4            1010.8       1006.0       7.0       8.0     17.8     29.7
...             ...          ...       ...       ...      ...      ...
142188       1024.7       1021.2       NaN       NaN      9.4     20.9
142189       1024.6       1020.3       NaN       NaN     10.1     22.4
142190       1023.5       1019.1       NaN       NaN     10.9     24.5
142191       1021.0       1016.8       NaN       NaN     12.5     26.1
142192       1019.4       1016.5       3.0       2.0     15.1     26.0

        RainToday  RISK_MM  RainTomorrow
0              No      0.0            No
1              No      0.0            No
2              No      0.0            No
3              No      1.0            No
4              No      0.2            No
...           ...      ...           ...
142188         No      0.0            No
142189         No      0.0            No
142190         No      0.0            No
142191         No      0.0            No
142192         No      0.0            No

[142193 rows x 24 columns]>